  </main>
  <footer class="site-footer">
    <span>Need help? Open a ticket and we will get back to you.</span>
  </footer>
  <% if (typeof useSse !== 'undefined' && useSse) { %>
    <script src="/app.js"></script>
  <% } %>
</body>
</html>
